<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995297483863-4us7go7g1tvt1r2pvk0b5682ea168p12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995297483863-4us7go7g1tvt1r2pvk0b5682ea168p12</string>
	<key>API_KEY</key>
	<string>AIzaSyDUST4CnLw4ATyQSEYtrTLZHihkCzjK4d0</string>
	<key>GCM_SENDER_ID</key>
	<string>995297483863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nami.ditchIt</string>
	<key>PROJECT_ID</key>
	<string>ditchit-31509</string>
	<key>STORAGE_BUCKET</key>
	<string>ditchit-31509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995297483863:ios:8d636e8488649106abd712</string>
</dict>
</plist>